h1, h2, h3, h4, h5, h6{
	font-weight:bold;
}

#headerlogo img{
	width: 960px;
	height:auto;
}

#content{
	width:630px;
}

.content-full {
	width: 960px !important;
	float:none !important;
	clear:both;
}

h2, h3{
text-transform: uppercase;
}

.menu-header ul.sub-menu, .menu-header .sfHover .sf-sub-indicator{
background-color: #000;
}

.menu-header  ul.sub-menu li a:hover{
	background-color: #C06;
}

.fb_button .fb_button_text, .fb_button_rtl .fb_button_text {
color: white !important;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-weight: bold;
text-shadow: none;
}

.sep {
margin-top: 0 !important;
background: #000 !Important;
height: 4px !Important;
}

.related-sep {
background: #000;
font-size: 0;
height: 4px;
line-height: 0;
margin-bottom: 17px;
margin-top: 5px;
}


.con-sep {
background: #000;
font-size: 0;
height: 4px;
line-height: 0;
margin-bottom: 17px;
margin-top: 5px;
}

#content .slideshow-in-content {
overflow: hidden;
margin: 0 15px 30px;
}

#content .slideshow-in-content .nivo-directionNav {
position: absolute;
bottom: 40px;
right: 20px;
width: 106px;
height: 43px;
}

.nivo-caption {
position: absolute;
left: 0;
bottom: 0;
background: #FFF;
color: #000;
opacity: .8;
width: 100%;
z-index: 8;
}

.nivo-caption p {
padding:0 !important;
}

.slideshow-in-content{
	background:#000;
}


#sidebar a, #sidebar a:link, #sidebar a:active, #sidebar a:visited{
	color:#C06;
}


.post-big-meta .sep{
	height:1px !important;
}



#tweetblender-4-f div{
	padding:0;
}

#single .post-meta {
width: 630px;
color: #B2B2B2;
font-size: 8pt;
padding-top: 0px;
padding-bottom: 10px;
}

#gallery-page .nivoSlider{
right: 0;
float: right;
}
#gallery-page .nivo-caption {
top: 0;
width: 300px;
margin-left: -330px;
}



#gallery-page .slideshow-in-content {
overflow: hidden;
margin-bottom: 0 !important;
}

#gallery-page .slideshow-in-content {
overflow: visible !important;
}

#slider-bottom-controls{
	display:none;
}

.menu-header ul li a:link, .menu-header ul li a:visited {
height: 44px;
font-size: 10pt;
line-height: 44px;
font-weight:bold;
}

#gallery-slider , #gallery-slider-wrapper, #gallery-slider {
height: 452px;
}

#front-page-business #front-page-bottom h3, .front-page-post h3 {
background: #000;
color:#FFF;
font-size: 13pt;
line-height: 16pt;
}


.front-page-post h3{
	margin-bottom:16px;
}


#front-page-business .front-page-post h3 a:link,
#front-page-business .front-page-post h3 a:visited,
#front-page-posts .post h3 a:link,
#front-page-posts .post h3 a:visited,
#front-page-posts .post a.more-link:link,
#front-page-posts .post a.more-link:visited{
	color:#FFF;
}

#front-page-business #front-page-bottom ul li h3 a:link,
#front-page-business #front-page-bottom ul li h3 a:visited,
#front-page-business #bottom-content-scroll ul li a.more-link:link,
#front-page-business #bottom-content-scroll ul li a.more-link:visited{
	color:#000 !important;
}
/**MENU**/

.menu-header ul {
border-bottom: 2px solid #000;
border-top: 4px solid #000;
height: 44px;
line-height: 44px;
text-align: center;
}

.menu-header ul li {
height: 44px;
line-height: 44px;
}

.menu-header ul li {
display:inline-block;
border-bottom: 0;
border-top: 0;
}

.menu-header ul li {
float: none;
}

.menu-header ul li a:link, .menu-header ul li a:visited {
float: none;
}

.menu-header ul.sub-menu li, .menu-header ul.sub-menu li a:link, .menu-header ul.sub-menu li a:visited {
float: left;
text-align:left;
}

#front-page-business #bottom-content-scroll .bx-pager a:link, #front-page-business #bottom-content-scroll .bx-pager a:visited {
	background-color: #000;
}
#front-page-business #bottom-content-scroll .bx-pager a:hover, .pager-active{
background-color: #C06 !important;
}

#front-page-business #bottom-content-scroll {
background: none;
border-bottom: 1px solid #000;
}

#front-page-business #bottom-content-scroll ul li a.image-wrapper {
margin-right: 38px;
padding: 4px;
background:#000;
}

#front-page-business #bottom-content-scroll h3 {
border: 0;
}

#main-menu{
	text-transform: uppercase;
}

#content div.quote-float, #content strong {
color: #000;
}

.menu-header {
float: none;
height: 46px;
border-bottom: 1px solid black;
}

a#headerlogo:link, a#headerlogo:visited {
margin: 0 auto;
display:block;
float: none;
height: 164px;
line-height: 164px;
text-decoration: none!important;
}

#header, #header-pattern , #header-wrapper{
height: 252px;
}

#content-wrapper {
width: 960px;
margin: 0 auto;
padding: 0 0 32px 0;
overflow: hidden;
}



#front-page-business .front-page-post a.image-wrapper {
background: #000;
}

#front-page-business #front-page-bottom {
margin-top: 16px;
}

#front-page-business #intro {
margin-bottom: 0;
}

.menu-header ul.sub-menu {
margin-top: 0;
background-image: none;
}

/**sub header**/
#sub-header-content-pattern {
height: 138px;
}

#sub-header-content-wrapper {
	margin: 16px auto 32px 0;
	position: relative;
	height: auto;
	overflow: hidden;	
}

#sub-header-content {
width: 960px;
margin: 0 auto;
overflow: hidden;
padding: 16px 0 ;
position: relative;
z-index: 8888;
background: #000;
}

#sub-header-content h1 {
font-size: 24px;
line-height: 24px;
padding: 0;
text-transform: uppercase;
padding:0 16px;
font-weight:bold;
}

#sub-header-color-overlay {
	background-color: #FFF;
	-ms-filter: "alpha(opacity=100)";
	opacity: 1;
	
}

#sub-header-content-pattern {
height: 56px;
opacity: 0.2;
filter: alpha(opacity=20);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

#sidebar ul li.widget-container h3 {
background: #000;
color:#FFF;
margin-bottom: 16px;
padding-bottom: 0;
}

#tweetblender-4-f{
	display:none;
}

.side-push{
	margin-top:28px;
	float:right;
}


#sidebar ul li.widget-container {
padding:0;
border-left: 0;
border-right: 0;
border-bottom: 0;
background: #FFF;
}

#content .duotive-multimedia-wrapper {
background: #000;
}

#sharing a{
	text-decoration:none !important;
}

#content .blog-classic h2 a:link,
#content .blog-classic h2 a:visited,
#content .blog-modern h2 a:link,
#content .blog-modern h2 a:visited{
	color:#000;
}

#reply-title{
	font-size: 16pt !important;
	line-height: 19pt !important;
	margin-bottom:32px !important;
	color:#FFF !important;
	background: #000;
	padding: 8px !important;
}

#related, #sharing {
	padding-bottom: 16px;
}

#related h3, #sharing h3{
background: #000;
color:#FFF;
padding: 8px;
margin-bottom: 16px;
}

.twtr-hd{
	background: #000;
}

.twtr-ft{
	display:none;
}

.twtr-bd {
padding: 0 !important;
}
.twtr-wdg{
	padding-bottom:16px;
	background: url(../images/border-bot.png) repeat-x center bottom !important;
}
.twtr-timeline {
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;

}

.twtr-widget .twtr-tweet {
border-bottom: 1px solid #000 !important;
}

.twtr-widget .twtr-tweet-wrap {
padding: 8px !important;
}

.twtr-widget em {
border: 0 !Important;
}

#twtr-front .twtr-hd {
padding: 0 !important;
background: #FFF !important;
}

#twtr-front .twtr-hd h3{
	background:#000 !important;
	color:#FFF !important;
	font-weight:bold !important;
	margin-bottom: 16px !important;
	padding: 8px !important;
	display:block !important;
	font-size: 12pt !important;
	line-height: 14pt !important;
}

#front-page-business #bottom-content-scroll ul li h3 {
	color:#000 !important;
	padding: 0 0 16px 0 !important;
}

#footer-holts{
	float:left;
	margin-top:15px;

}